body {
    background-image: url("../img/airline.jpg");
    margin: 0;
}

header {
    border: 2px solid #AFBAC3;
    background-color: #213A53;
    width: 100%;
    display: flex
}

.topnav {
    margin: 0 auto;
    list-style-type: none;
    float: right;
    padding: 20px;
}

.companylogo {
    margin-left: 50px;
    
}

a {
    color: white;
    text-decoration: none;
}

.container {
    width: 450px;
    height: 450px;
    margin-top: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    background-color: #123754;
}
/* 
.planeicon {
    width: 33%;
    float: left;
    padding: 0;
    background-color: #0263B7;

}

.hotelicon {
    width: 33%;
    float: left;
    padding: 0;
    background-color: #008D80;
} */